@CHARSET "UTF-8";

/*=====================================*/
/*=      general for all project      =*/
/*=====================================*/
body {
	background-color: white;
	color: #0e1a0b;
	font-family: 'Varela Round', sans-serif;
}

#imgbg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
/*
	font-family: 'Monoton', cursive; (SIS)
	font-family: 'Varela Round', sans-serif; (body)		
*/
input {
	border: 1px solid #508c44;
	border-radius: 0;
	height: 25px;
}

#serverError {	
	display: none;	
	top:0;
	left:0;
	position:fixed;
	width: 100%;
	height: 25px;	
	background-color: rgba(255, 0, 0, 0.8);
	text-align: center;
	font-size:20px;
	color: white;
	z-index: 2000;	
}
#loadDiv {	
	display: none;
	top:0;
	left:0;
	position:fixed;
	min-width: 100%;
	min-height: 100%;	
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;	
}
#loadDiv img{
	top: 50%;
	left: 50%;
	position:fixed;
	width: 150px;
	height: 150px;	
	margin-top: -75px;
    margin-left: -75px;	
}


/*=======================*/
/*=      menu area      =*/
/*=======================*/
/*login menu*/
.menuLogin {
	display: none;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	border: 0px solid #508c44;
	text-align: center;
}
/*home menu*/
.menuHome {		
	display: none;
	width: 40px;
	height: auto;
	position: absolute;
	top: 50px;
	left: 0;
	margin: auto;
	border: 0px solid #508c44;
	text-align: center;
}

/*========================*/
/*=      login page      =*/
/*========================*/
.loginLogo {
	font-family: 'Monoton', cursive;	
	border: 0px solid #508c44;	
	font-size: 100px;
	text-align: center;
}
.loginContent {
	width: 400px;
	height: 410px;
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -200px;
	border: 0px solid #508c44;
	text-align: center;
}

.loginInput {
	display: none;
	top:30px;
	width: 400px;
	height: 410px;
	text-align: center;
	border: 0px solid #508c44;	
	margin: auto;
}

.loginInput td {
	min-width: 100px;
}

.loginInput td#loginTip  {
	display: none;
	text-align: center;
	color: red;
	border: 0px solid #508c44;
	margin: auto;
}

.loginIn {
	border: 0px solid #508c44;
	height: 130px;
	text-align: center;
	margin: auto;
}

/*=== login project info ===*/
.loginProjectInfo {
	display: none;
	width: auto;
	height: auto;
	position: absolute;
	top: 10px;
	left:200px;
	margin: auto;
	border: 0px solid #508c44;
	border-radius: 7px;
	text-align: center;
}

/*=== login up ===*/
.loginUpContent {
	display:none;
	width: 680px;
	height: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -340px;
	border: 0px solid #508c44;	
	font-size: 18px;
	text-align: center;
}

.loginUpContent input{		
	font-size: 18px;
}
.loginUpContent #title{
	font-family: 'Monoton', cursive;		
	font-size: 50px;
}

.loginUpInput {	
	top:30px;
	width: 600px;
	height: 380px;
	text-align: center;
	border: 0px solid blue;	
	margin: auto;
}
.loginUpInput td{
	min-width: 230px;	
	max-width: 230px;	
}
.loginUpInput td#button{
	min-width: 110px;	
	max-width: 110px;
}
 .loginUpInput td#usernameTip, .loginUpInput td#passwordTip, .loginUpInput td#confirmTip, .loginUpInput td#nameTip, .loginUpInput td#phoneTip{ 	
	display: none;
	text-align: center;
	color: red;
	border: 0px solid #508c44;
	margin: auto;
}

/*=======================*/
/*=      home page      =*/
/*=======================*/

.homeLogo {
	display: table-cell;
	background-color: rgba(255, 255, 255, 1);	
	height: 48px;
	min-width:150px;
	left: 0;
	top:0;
	width: 100%;
	position: fixed;
	border-color: #508c44;		
	border-width: 0 0 2px 0;	
	border-style: solid;		
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
}

div#homeUsername {
	background-color: rgba(255, 255, 255, 0.6);	
	min-width: 150px;
	min-height: 35px;
	border-color: white;	
	border-style: solid;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
#clientsTableList{
	display: none;	
	min-width: 1006px;
	text-align: center;
	left: 150px;	
	top: 85px;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.4);
	border-collapse: collapse;
}
#allClientsTableTitle{		
	left: 150px;
	top:50px;
	position: fixed;	
	max-width: 1006px;
	min-width: 1006px;
	line-height: 35px;
}
#clientsTableList #allClientsTableTitle td{		
	border-width: 0 0 1px 0;			
	background-color: white;	
	font-size: 20px;
}

#clientsTableList td{		
	border-width: 0 0 1px 0;
	border-color: #508c44;
	border-style: solid;
	max-width: 200px;
	min-width: 200px;
	min-height: 35px;		
	max-height: 35px;
}
.clientsRow:hover{
	background-color: rgba(255, 255, 255, 1);
}

/* HOME USER INFO TESTING*/
.userProfile{	
	display: block;	
	min-width: 1050px;
	text-align: center;
	left: 150px;	
	top: 50px;
	position: absolute;
	border-collapse: collapse;
}
.userProfile #button{	
	border-width: 0;
	max-width: 50px;
	min-width: 50px;	
	text-align: center;
	background-color: rgba(255, 255, 255, 0);	
}
.userProfile td{	
	border-width: 0 0 1px 0;
	border-color: #508c44;
	border-style: solid;
	max-width: 200px;
	min-width: 200px;
	min-height: 50px;	
	text-align: left;
	background-color: rgba(255, 255, 255, 0.4);
}
.openStatus td{	
	background-color: rgba(255, 255, 0, 0.4);
}
.acceptedStatus td{	
	background-color: rgba(0, 255, 0, 0.4);
}
.closeStatus  td{	
	background-color: rgba(255, 0, 0, 0.4);
}
#profileHead{		
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
}


/* HOME USER INFO END TESTING*/
/*=====================*/
/*=      buttons      =*/
/*=====================*/
.button-scale {	
	background-color: rgba(255, 255, 255, 0);
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	border-color: #1d3517;	
	border-width: 1px;
	border-radius: 7px;
	border-style: solid;
	width: 140px;
	height: 40px;
	left: 0;
	font-size: 20px;	
	color: #1d3517;
	text-align: center;
	transition: 200ms linear;
	z-index: 2;
	outline: none;
}
.userProfile .button-scale{	
	padding-bottom: 5px;
	width: 40px;
	height: 40px;
	font-size: 25px;
	margin-bottom: 0px;	
	margin-top: 0px;	
}

.button-scale#exit_user_profile, .button-scale#edit_user_profile, .button-scale#cars_user_profile, .button-scale#proposals_user_profile{	
	display: none;	
}

.button-scale:hover{
	background-color: rgba(255, 255, 255, 0.35);
}

.loginInput #in, .loginUpInput #up{	
	width: 80px;
	height: 80px;	
}

.menuHome #newClient, .menuHome #newProposal, .menuHome #newWorker,
.menuHome #allClients, .menuHome #allProposals, .menuHome #allWorkers,
.menuHome #tasks, .menuHome #homeUsernameOut{
	display: none;
}