@CHARSET "UTF-8";

/*=====================================*/
/*=      general for all project      =*/
/*=====================================*/
body {
	background-color: white;
	color: #0e1a0b;
	font-family: 'Varela Round', sans-serif;
}

#imgbg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}
/*
	font-family: 'Monoton', cursive; (SIS)
	font-family: 'Varela Round', sans-serif; (body)		
*/
input {
	border: 1px solid #508c44;
	border-radius: 5px;
	height: 25px;
}

/*=======================*/
/*=      menu area      =*/
/*=======================*/
/*login menu*/
.menuLogin {
	display: none;
	width: 40px;
	height: auto;
	position: absolute;
	top: 30px;
	left: 0;
	margin: auto;
	border: 0px solid #508c44;
	text-align: center;
}
/*home menu*/
.menuHome {
	display: none;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0px;
	left: 0;
	margin: auto;
	border: 0px solid #508c44;
	text-align: center;
}

/*========================*/
/*=      login page      =*/
/*========================*/
.loginLogo {
	font-family: 'Monoton', cursive;	
	border: 0px solid #508c44;	
	font-size: 100px;
	text-align: center;
}
.loginContent {
	width: 400px;
	height: 410px;
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -200px;
	border: 0px solid #508c44;
	text-align: center;
}

.loginInput {
	display: none;
	top:30px;
	width: 400px;
	height: 410px;
	text-align: center;
	border: 0px solid #508c44;	
	margin: auto;
}

.loginInput td {
	min-width: 100px;
}

.loginInput td#loginTip  {
	display: none;
	text-align: center;
	color: red;
	border: 0px solid #508c44;
	margin: auto;
}

.loginIn {
	border: 0px solid #508c44;
	height: 130px;
	text-align: center;
	margin: auto;
}

/*=== login project info ===*/
.loginProjectInfo {
	display: none;
	width: auto;
	height: auto;
	position: absolute;
	top: 10px;
	left:150px;
	margin: auto;
	border: 0px solid #508c44;
	border-radius: 7px;
	text-align: center;
}

/*=== login footer info (not used)===*/
.loginFooter {
	width: 500px;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 0 0 -250px;
	border: 0px solid #508c44;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}

/*=== login up ===*/
.loginUpContent {
	display:none;
	width: 680px;
	height: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -340px;
	border: 0px solid #508c44;	
	font-size: 18px;
	text-align: center;
}

.loginUpContent input{		
	font-size: 18px;
}
.loginUpContent #title{
	font-family: 'Monoton', cursive;		
	font-size: 50px;
}

.loginUpInput {	
	top:30px;
	width: 500px;
	height: 380px;
	text-align: center;
	border: 0px solid blue;	
	margin: auto;
}
.loginUpInput td{
	min-width: 190px;	
	max-width: 190px;	
}
.loginUpInput td#button{
	min-width: 110px;	
	max-width: 110px;
}
 .loginUpInput td#usernameTip, .loginUpInput td#passwordTip, .loginUpInput td#confirmTip, .loginUpInput td#nameTip, .loginUpInput td#phoneTip{
	display: none;
	text-align: center;
	color: red;
	border: 0px solid #508c44;
	margin: auto;
}

/*=======================*/
/*=      home page      =*/
/*=======================*/

.homeLogo {
	display: table-cell;
	background-color: rgba(255, 255, 255, 0.6);
	min-width: 145px;
	height: 35px;
	border-color: white;		
	border-width: 0 1px 1px 0;	
	border-style: solid;
	border-radius: 0 0 35px 0px;	
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}

.homeHead {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	margin: auto;
	border: 0px solid #508c44;
	border-radius: 5px 5px 5px 5px;
	text-align: right;
}
.homeClients {	
	display: none;
	position: absolute;
	top: 30px;
	left: 140px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	border: 5px solid #508c44;
	border-radius: 5px 5px 5px 5px;
}
.homeClients td{
	border: 1px solid #508c44;	
	width: 150px;
}

/*=====================*/
/*=      buttons      =*/
/*=====================*/
.button-scale {	
	background-color: rgba(255, 255, 255, 0.6);
	margin: 1px;
	border-color: white;		
	border-width: 1px 1px 1px 0;	
	border-style: solid;	
	border-radius: 0 40px 40px 0;
	width: 40px;
	height: 80px;
	left: 0;
	font-size: 25px;	
	color: #1d3517;
	text-align: center;
	transition: 200ms linear;
	z-index: 2;
	outline: none;
}

.homeHead .button-scale#out {		
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 35px 35px;
	width: 70px;
	height: 35px;
	top: 0;
	font-size: 25px;	
	color: #1d3517;
	text-align: center;
}

.button-scale:hover{
	border-width: 5px 5px 5px 0;
	border-color: #508c44;
	border-style: solid;	
	width: 130px;
}

.homeHead .button-scale#out:hover {
	border-width: 0 5px 5px 5px;
	border-color: #508c44;
	border-style: solid;	
	height: 90px;
}

.loginInput #in, .loginUpInput #up{	
	height: 80px;
	width: 80px;
	border-radius: 40px;
}
.loginInput #in:hover, .loginUpInput #up:hover{	
	border: 5px solid #508c44;		
}

.menuLogin .button-scale#info {
	font-size: 30px;
}

.menuHome #newClient, .menuHome #newProposal, .menuHome #newWorker,
.menuHome #allClients, .menuHome #allProposals, .menuHome #allWorkers,
.menuHome #tasks{
	display: none;
}